@font-face{
    font-family: 'UtopiaStd';
    src: url('../fonts/Utopia-Std.ttf') format('ttf'),
         url('../fonts/Utopia-Std.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'UtopiaStd-Bold';
    src: url('../fonts/UtopiaStd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BrandonText-Bold';
    src: url('../fonts/BrandonText-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
