// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #feca2e;
$link-primary: 			#fcc024;
$text-main-color: 		#feca2e;
$white-color: 			#ffffff;
$letter-spacing-2: 		2.1px;
$letter-spacing-3: 		3px;
$black-color: 			#1a1b1e;
$black-color-bg:		#181a21;
$instagram-color: 		#dd12fe;
$facebook-color : 		#0259bd;
$youtube-color :		#ff2a2a;
$red-color :			#ff2a2a;
$color-small-text: 		#898989;